
/* Layout */
body {
   margin: 10px 0;
}

.container {
   max-width: 1170px;
}

footer {
   margin-top: 10px;
}

body.index div.tab-pane {
   padding-top: 10px;
}

body.index div.tab-pane a {
   display: block;
}

/* Style */
a, a:hover, a:focus {
   color: #00C;
}

ol ol {
   list-style-type: lower-alpha;
}

.nav-tabs > li.active > a {
   font-weight: bold;
}

pre {
   background-color: #f8f8f8;
   border-color: #ddd;
}

code {
   background-color: rgba(0,0,0,0.04);
   color: #333;
}

code.signature span.function { font-weight: bold; }

/* XMLSpectrum */
span.ww {background-color: #073642; } 
span.eq-equ, span.z, span.sc, span.scx, span.ec, span.es, span.ez, span.atneq {color: #0000ff; } 
span.ww:not(:hover), span.txt:not(:hover), span.cm:not(:hover), span.pi:not(:hover) { } 
span.txt, span.cd {color: #000; } 
span.literal {color: #b81414; } 
span.op, span.type-op, span.if, span.higher, span.step, span.whitespace, span.quantifier {color: blue; } 
span.function, span.pname {color: #000; } 
span.fname, span.tname, span.tcall, span.vname {color: #0000ff; } 
span.variable, span.external {color: #8e36d3; } 
span.qname, span.type-name, span.unclosed, span.en, span.cl, span.href {color: #b81414; } 
span.enxsl, span.clxsl, span.enx, span.filter, span.node {color: #268bd2; } 
span.parenthesis { color: #000; }
span.atn, span.numeric, span.dt, span.axis, span.context, span.bracedq {color: #fd0000; } 
span.pi{ color: #b81414; }
span.cm, span.comment, span.av {color: #0000ff; }
span.type, span.node-type { color: #000; }